body {
  display: grid;
  grid-template-rows: 80px auto 100px;
  background-color: #f3f4f0;
  min-height: 100vh;
  margin: 0;
  font-family: Helvetica, sans-serif;
}
@media screen and (max-width: 768px) {
  body {
    grid-template-rows: auto auto 100px;
  }
}
body h1,
body h2 {
  font-family: "Palatino Linotype", sans-serif;
}
body a {
  text-decoration: none;
  color: #272b1f;
}
body .main-link-button {
  display: block;
  background-color: #AAB396;
  padding: 10px;
  text-align: center;
  position: relative;
  bottom: auto;
}
body header {
  background-color: #AAB396;
  overflow: hidden;
}
body header h1 {
  display: inline-block;
  margin: 15px;
}
@media only screen and (max-width: 1060px) {
  body header h1 {
    font-size: 1.5em;
  }
}
body header #title-wrapper {
  display: inline-block;
}
@media only screen and (max-width: 1060px) {
  body header #title-wrapper {
    display: block;
    width: 100%;
    float: none;
  }
}
body header #menu-button-resp {
  display: none;
}
@media only screen and (max-width: 1060px) {
  body header #menu-button-resp {
    display: block;
    float: right;
    padding: 10px;
  }
}
body header nav {
  display: inline-block;
  float: right;
  height: 100%;
}
body header nav ul {
  height: 100%;
  margin: 0;
  padding: 0;
}
body header nav ul .active {
  background-color: #78845f;
}
body header nav ul .menu-item {
  display: inline-block;
  text-align: center;
  height: 100%;
  padding: 28px 16px;
}
body header nav ul .menu-item:hover {
  background-color: #86926a;
}
@media only screen and (min-width: 1059px) {
  body header nav ul .menu-item {
    display: inline-block;
  }
}
@media only screen and (max-width: 1060px) {
  body header nav ul .menu-item {
    display: none;
    margin: 0;
    height: auto;
  }
}
body header nav ul .menu-item a {
  height: 100%;
  padding: 28px 16px;
}
body header nav ul .menu-item-shown {
  display: block;
}
@media only screen and (min-width: 1060px) {
  body header nav ul .menu-item-shown {
    display: inline-block;
  }
}
@media only screen and (max-width: 1059px) {
  body header nav {
    display: block;
    float: none;
  }
}
body main {
  min-height: 90vh;
  background-color: #f3f4f0;
  margin: 0 10%;
  padding: 10px;
}
@media only screen and (max-width: 767px) {
  body main {
    margin: 0;
  }
}
body main section#articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media only screen and (max-width: 1023px) {
  body main section#articles {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 767px) {
  body main section#articles {
    grid-template-columns: 1fr;
  }
}
body main section#articles article {
  margin: 10px;
  background-color: #dbdfd3;
}
body main section#articles article img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
body main table {
  width: 100%;
  text-align: center;
  padding: 0 10%;
}
@media only screen and (max-width: 767px) {
  body main table {
    padding: 0;
  }
}
body main table img {
  width: 100%;
  height: auto;
  max-width: 200px;
  object-fit: cover;
  border-radius: 5px;
}
body main table th {
  padding: 10px;
  background-color: #929e78;
}
body main table td,
body main table th {
  width: 25%;
}
body main table tr:nth-child(even) {
  background-color: #c3c8be;
}
body main table tr:nth-child(odd) {
  background-color: #eef0ea;
}
body main form {
  box-sizing: border-box;
  margin: 0 auto;
  width: 50%;
}
body main form input[type=text],
body main form input[type=password],
body main form input[type=number],
body main form select,
body main form textarea {
  display: inline-block;
  width: 100%;
  margin: 16px 0;
  padding: 10px;
  box-sizing: border-box;
}
body main form input[type=number] {
  width: 100px;
}
body main form #form-teplota-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body main form #form-teplota-wrapper label {
  flex: 1 1;
  gap: 10px;
  justify-content: space-between;
}
body main form textarea {
  resize: vertical;
  font-family: Helvetica, sans-serif;
}
body main form input[type=submit] {
  display: inline-block;
  width: 100%;
  margin: 16px 0;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #78845f;
  color: #424934;
}
body main form .button-delete {
  display: inline-block;
  width: 100%;
  margin: 16px 0;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid darkred;
  color: darkred;
}
body main section#articleGallery div#articleGalleryContainer img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
body footer {
  background-color: #674636;
  text-align: center;
  color: #C8CDC4;
}
/*# sourceMappingURL=style.css.map */